<launch>
    <!-- load the urdf and srdf -->
    <include file="$(find pr2_description)/robots/upload_pr2.launch"/>
    <param name="robot_description_semantic" textfile="$(find pr2_moveit_config)/config/pr2.srdf"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="test_collision_model" pkg="sbpl_collision_checking_test" type="test_collision_model" output="screen">
        <rosparam command="load" file="$(find sbpl_collision_checking_test)/config/collision_detection_pr2.yaml"/>
    </node>
</launch>
